@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
}

*, ::after, ::before {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

html, body {
  scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;